* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.queryId {
    margin-bottom: 20px;
}

.getAllProducts {
    margin-bottom: 20px;
}

.getAllProducts:hover {
    cursor: pointer;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin: 10px;
}

.products-name {
    text-align: center;
}

li>div {
    margin: 10px;
    display: flex;
    align-items: center;
    height: 25px;
}

.content,
.content.count {
    width: 100px;
    text-align: left;
}

.name {
    width: fit-content;
}

.products-article {
    width: 50px;
    text-align: center;
}

.article {
    width: 30px;
    text-align: center;
    border: none;
    outline: none;
}

.count {
    width: 30px;
    text-align: center;
    border: none;
    outline: none;
}

.products-count {
    width: 50px;
    text-align: center;
}

.products-services {
    text-align: center;
}

.off {
    display: none;
}

.addBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 145px;
    height: 145px;
    font-size: 100px;
    font-weight: lighter;
}

.create-card {
    position: relative;
    width: 290px;
    height: 290px;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 290px;
    padding: 10px;
    border: 1px solid grey;
}

.close {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
}

.close:hover,
.addBtn:hover {
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.img_wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;
    width: 150px;
    height: 150px;
}

.content-wrap {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 25px;
}

.unSccess {
    border: 1px solid red;
    border-radius: 3px;
    outline: none;
}

// button {
//     background-color: transparent;
//     padding: 5px 10px;
//     border-radius: 15px;
//     border: 2px solid transparent;
//     outline: none;
//     &:hover {
//         border-radius: 15px;
//         border: 2px solid #addad6;
//         cursor: pointer;
//     }
// }