<li class="wrapper" data-name="create">
    <button class="close" data-close="create">x</button>
    <div class="img_wrap">
        <img class="img" src="/" alt="" width="135px" />
        <input type="file" id="file" multiple />
    </div>
    <table>
        <tr>
            <td>product name:</td>
            <td><input type="text" name="productName-create" id="productName" placeholder="enter product name..." /></td>
        </tr>
        <tr>
            <td>article:</td>
            <td><input type="text" name="article-create" id="article" placeholder="enter article..." /></td>
        </tr>
        <tr>
            <td>count:</td>
            <td><input type="text" name="count-create" id="count" placeholder="enter count..." /></td>
        </tr>
    </table>
    <button id="create" name="create" disabled>create</button>
</li>